#inner-box{
    height: 250px;
    border-width: 50px;
    border-style: solid;
    border-color: pink;
    background-color: salmon;
}
#outer-box{
    background-color: teal;
    padding: 50px;
    height: 300px;
    width: 300px;

}
.bg.img1{
    width: 50%;
    border-radius: 50%;
    border: 10px solid violet;
}