*{
    margin: 0;
    padding: 0;
}
#demo01{
    border: 5px dotted black;
    padding: 30px;
    /*background-color: #359;*/
    background-image: url('https://thebiaslistcom.files.wordpress.com/2023/01/h1-key-rose-blossom.jpg?w=640');
    background-repeat: no-repeat;
    background-origin: content-box;
}

.box1{
    width: 500px;
    height: 50px;
    margin: 10px;
    border: 10px solid rgb(0, 255, 94);
    padding: 80px;
    box-sizing: content-box;
   
}

.box2{
    width: 350px;
    height: 50px;
    margin: 10px;
    border: 10px solid rgb(255, 242, 0);
    padding: 80px;
    box-sizing: content-box;
}